@page "/users/edit"
@using BlazorView.Services;
@using MudBlazor;
@using BusinessLayer;
@using ServiceLayer;
@using MudBlazor.Services;
@inject IdentityManager identityManager;
@inject StateContainer<User> userContainer;
@inject NavigationManager navigationManager;

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <MudForm Model="Model">
            <div class="form-group">
                <MudTextField @bind-Value="Model.UserName"
                              T="string" class="form-control"
                              Label="Username"
                              Variant="Variant.Outlined"
                              For="@( () => Model.UserName )" 
                              Immediate="true"/>
            </div>
            <MudSelect T="Role" @bind-Value="Model.Role" Label="Role" AnchorOrigin="Origin.BottomCenter">
                <MudSelectItem Value=Role.User />
                <MudSelectItem Value=Role.Admin />
            </MudSelect>
            <div class="form-group">
                <MudButton Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.Save"
                           IconColor="Color.Primary"
                           Size="Size.Large"
                           OnClick="EditUser">Save</MudButton>
            </div>
        </MudForm>
    </div>
</div>

<div class="form-group">
    <MudButton Variant="Variant.Filled"
               IconColor="Color.Secondary"
               Size="Size.Large"
               Href="users">Back</MudButton>
</div>

@code {
    User Model = new();

    protected override async Task OnInitializedAsync()
    {
        Model = userContainer.Value;
    }

    private async Task EditUser()
    {
        await identityManager.UpdateAsync(Model);
        navigationManager.NavigateTo("users", true);
    }
}